* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header,
footer {
  background-color: rgba(238, 219, 12, 0.7);
  font-size: 2rem;
  margin: 0px auto;
  padding: 0.3rem;
  position: sticky;
  width: 100%;
}
header {
  top: 0;
}

footer {
  bottom: 0;
}
/* .nowrap {
  white-space: nowrap;
} */

body {
  /* margin: 0.5rem; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: url(img/lights.webp);
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
main {
  flex-grow: 1;
}
nav {
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 2.5rem auto;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
  background-color: whitesmoke;
}
nav h2 {
  font-size: 42px;
  background-color: rgba(228, 211, 23, 0.7);
  border-radius: 2rem 2rem 0 0;
  padding: 0.5rem;
}

li {
  list-style-type: none;
  border-top: 1px solid #333;
}
li a {
  display: block;
  text-decoration: none;
  color: #333;
}
li a,
li a:visited {
  color: #333;
}

li a:hover {
  background-color: #333;
  color: antiquewhite;
}
li a:focus {
  background-color: #333;
  color: rgba(228, 211, 23, 0.8);
}
li:nth-child(4) a {
  border-radius: 0 0 2rem 2rem;
}
/* li:nth-child(4) a:hover {
  padding: 0.5rem;
} */
section {
  background-color: whitesmoke;
  color: #333;
  line-height: 1.5;
  font-size: 1, 5rem;
  max-width: 800px;
  margin: 1.5rem auto;
}

footer i {
  width: 50px;
}

footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: whitesmoke;
}

@media screen and(max-width: 570px) {
  header {
    width: 100%;
    height: 100px;
    font-size: 0.5rem;
  }
}
