* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.nowrap {
  white-space: nowrap;
}
header,
footer {
  background-color: rgba(5, 105, 105, 0.95);
  font-size: 2rem;
  margin: 0px auto;
  padding: 0.3rem;
  position: sticky;
  width: 100%;
}
header {
  z-index: 1;
  top: 0;
  box-shadow: 2px 5px 5px gray;
}

/* footer {
  bottom: 0;
} */
/* .nowrap {
  white-space: nowrap;
} */

body {
  /* margin: 0.5rem; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: linear-gradient(to top left, teal, whitesmoke);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
main {
  flex-grow: 1;
}
nav {
  /* border: 4px solid transparent; */
  border-radius: 2rem;
  margin: 2.5rem auto;
  width: clamp(25vw, 50rem, 85%);
  max-height: 60%;
  font-size: 2rem;
  line-height: 7rem;
  background-color: whitesmoke;
}
nav h3 {
  font-size: 42px;
  background-color: rgb(4, 150, 150);
  border-radius: 2rem 2rem 0 0;
  padding: 0.5rem;
}

li {
  list-style-type: none;
  border-top: 1px solid #333;
}
li a {
  display: block;
  text-decoration: none;
  color: #333;
}
li a,
li a:visited {
  color: #333;
}

li a:hover {
  background-color: #333;
  color: rgba(228, 211, 23, 0.8);
}
li a:focus {
  background-color: rgb(1, 31, 31);
  color: rgba(228, 211, 23, 0.8);
}
li:nth-child(4) a {
  border-radius: 0 0 2rem 2rem;
}
/* li:nth-child(4) a:hover {
  padding: 0.5rem;
} */
section {
  margin: 1.5rem auto;
  color: #333;
  line-height: 1.5;
  font-size: 1, 5rem;
  max-width: 90%;
  max-height: 350px;
  background-color: whitesmoke;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.title {
  font-weight: bold;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

section a {
  text-decoration: none;
  color: #333;
}
section :hover p {
  text-decoration: underline;
  color: rgb(54, 49, 2);
}
section :hover {
  transform: scale(0.9);
  transition: all 0.5s;
}
.about {
  margin: 0 auto;
  width: 90%;
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.about img {
  display: block;
  border-radius: 50%;
}
footer i {
  width: 50px;
}

footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: whitesmoke;
}

@media screen and (min-width: 765px) {
  aside {
    /* align-items: flex-start; */
    display: flex;
    flex-flow: row wrap;
  }
  body {
    background-image: url(img/giphy.webp);
  }
  section {
    max-width: 30%;
  }
  nav {
    min-width: 50%;
  }
}
