* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  width: 98%;
  height: 50px;
  font-size: 2rem;
  background-color: rgba(255, 238, 51, 0.63);
  padding: 0.3rem;
  margin: 0 auto;
  /* animation: scale 1000ms infinite; */
}

body {
  margin: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
nav {
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 2.5rem auto;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
}
nav h2 {
  font-size: 42px;
  background-color: rgba(228, 211, 23, 0.7);
  border-radius: 2rem 2rem 0 0;
  padding: 0.5rem;
}

li {
  list-style-type: none;
  border-top: 1px solid #333;
}
li a {
  display: block;
  text-decoration: none;
  color: #333;
}
li a,
li a:visited {
  color: #333;
}

li a:hover {
  background-color: #333;
  color: antiquewhite;
}
li a:focus {
  background-color: #333;
  color: green;
}
li:nth-child(4) a {
  border-radius: 0 0 2rem 2rem;
}

footer {
  font-size: 30px;
}
footer i {
  width: 50px;
}

footer a {
  color: #333;
  text-decoration: none;
}
footer a:hover {
  color: blue;
}

/* @keyframes scale {
    from{
        transform: scale(0.4);
        /* rotate: 90deg; 
    }
    to {
        transform: scale(0.9);
    }
} */
