@tailwind base;
@tailwind components;
@tailwind utilities;
.maxh {
  height: 100%;
}
.minh-main {
  min-height: 60%;
}
/* .body {
  background-image: url("/build/img/giphy.webp");
} */
.work {
  width: 99%;
}
.b-work {
  background-image: url("/build/img/lights.webp");
}
.minw {
  min-width: 40%;
}
.fw {
  width: 98%;
}
@media screen and (min-width: 960px) {
  .lay {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

/* #mobile-btn:active > #mobile-menu {
  display: block;
} */
