@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tall {
    display: flex;
    flex-flow: column wrap;
  }
  .wide {
    width: 32rem;
  }
}

.maxh {
  height: 100%;
}
.minh-main {
  min-height: 60%;
}
/* .body {
  background-image: url("/build/img/giphy.webp");
} */
.work {
  width: 99%;
}
.b-work {
  background-image: url("/build/img/lights.webp");
}
.minw {
  min-width: 40%;
}
.fw {
  width: 98%;
}

.maxw {
  width: 96%;
}
.butwidth {
  width: 250px;
}

.bb {
  border: 2px solid #333;
}

.secheight {
  height: 500px;
}
.sleekbackground {
  background-color: rgba(107, 108, 102, 0.9);
}

@media screen and (min-width: 960px) {
  .lay {
    margin: 0 10px;
    grid-template-columns: 1fr 1fr 2fr;
  }
}

@media screen and (min-width: 768px) {
  .but {
    width: 60px;
  }
}

.hovColor:hover {
  color: #02120dcb;
}
/* .scale:hover {
} */
/* #mobile-btn:active > #mobile-menu {
  display: block;
} */
