@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

hr {
  border: none;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  height: 10px;
  background: var(--header-color);
}
:root {
  --header-Font: "Roboto", serif;
  --header-color: #c3bef7;
  --header-FS: 2.2rem;
  --link-FS: 1.5rem;
  --background: #e5ecf4;
  --white-color: #ffffff;
  --normal-FS: 1.3rem;
  --body-Font: "Poppins", serif;
  --header-w: 500;
  --primary-black: black;
  --second-black: #33333377;
  --border-col: #10634960;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  font-size: var(--normal-FS);
  font-family: var(--body-Font);
}

header {
  width: 100%;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--header-Font);
  font-weight: var(--header-w);
  position: fixed;
  top: 0;
  z-index: 9;
}
#h {
  color: black;
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: var(--second-black);
}
header h1 {
  font-size: var(--header-FS);
  font-weight: var(--header-w);
  color: var(--primary-black);
}
.desktop-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
  display: none;
}
.desktop-links a {
  text-decoration: none;
  color: var(--primary-black);
  transition: 0.5s;
  font-size: var(--link-FS);
  border-bottom: 3px solid transparent;
  color: var(--second-black);
}
a:hover {
  border-color: var(--border-col);
  color: black;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
  font-family: var(--header-Font);
  font-weight: var(--header-w);
}

.mobile-links {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: var(--header-color);
  font-size: 2rem;
  transition: all 0.93 ease-in-out;
}

.mobile-links ul {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  gap: 3rem;
}

.mobile-links i {
  position: absolute;
  top: 20px;
  right: 10%;
}

.mobile-links.active {
  left: 0;
}
.moble-view {
  font-size: var(--header-FS);
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 6rem;
  /* overflow-x: hidden; */
}

.sec-heads {
  color: #7e74ef;
}
/* top animation */
.animate-box div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #938d8dde;
}
.animate-box div:nth-child(1) {
  top: 30%;
  left: 10%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(2) {
  top: 50%;
  right: 50%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(3) {
  top: 10%;
  right: 70%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(4) {
  bottom: 30%;
  left: 10%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(5) {
  bottom: 100%;
  left: 30%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(6) {
  top: 20%;
  right: 35%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(7) {
  top: 45%;
  left: 90%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(8) {
  top: 30px;
  left: 10px;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(9) {
  top: 0%;
  right: 0%;
  animation: animate 5s linear infinite;
}
.animate-box div:nth-child(10) {
  top: 40%;
  left: 35%;
  animation: animate 5s linear infinite;
}

/* About me */

.about-me {
  padding: 0.7rem;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  line-height: 2.3;
}
.about-me img {
  border: 2px solid var(--white-color);
  border-top: transparent;
  border-right: transparent;
  border-radius: 15px;
  padding: 5px;
  outline: 3px var(--white-color);
}

.about-me figure {
  animation: scroll 2s linear;
}

.highlight {
  animation: Changecolor 1s linear forwards;
  padding: 5px;
  white-space: nowrap;
}

.contacts {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 9rem;
}

.contacts p {
  color: #7e74ef;
  font-size: calc(var(--header-FS) - 0.4rem);
}
.icons {
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 5rem;
  /* justify-content: stretch; */
}
.icons a {
  padding: 0.8rem;
  border: 2px solid transparent;
  text-align: center;
  white-space: nowrap;
  border-radius: 20px;
}
.icons a:last-child {
  font-size: 1rem;
}
.icons a:hover {
  border-color: var(--border-col);
  box-shadow: 5px 5px 16px 5px var(--header-color),
    -5px -5px 16px 5px var(--header-color);
}

.block {
  animation: scroll 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.stack {
  margin: 20px 0;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  background-color: var(--background);
  overflow: hidden;
  padding: 2rem;
  position: relative;
}
.stack-list {
  display: inline-block;
  animation: slide-show 7s linear infinite;
}
.stack::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--background)
  );
}
.stack::after {
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 250px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--background)
  );
}
.stack-list img {
  padding: 0 20px;
  margin: 20px 2rem;
  height: 100px;
}
.stack:hover .stack-list {
  animation-play-state: paused;
}

.stack button {
  margin-top: 20px;
  font-family: var(--body-Font);
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bolder;
  border-radius: 15px;
  border: none;
  background-color: var(--header-color);
  cursor: pointer;
  padding: 10px 20px;
}
.stack button:hover {
  background-color: #7e74ef;
}

/* Works  */
.works {
  text-align: center;
  scroll-margin-top: 9rem;
  display: grid;
  place-content: center;
  gap: 2rem;
  margin: 0.9rem 0;
  padding: 2rem;
}

.work-list {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding: 1rem;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.work img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  /* display: block; */
}

.description {
  position: absolute;
  background: linear-gradient(to top, #7468f1d6, #c7c3c385);
  padding: 10px;
  bottom: -100%;
  height: 100%;
  width: fit-content;
  display: grid;
  place-content: center;
  grid-gap: 1rem;
  transition: all 0.7s;
}

.description a {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background-color: var(--white-color);
  color: red;
  padding: 20px 10px;
  display: grid;
  place-content: center;
  border-radius: 30px;
}

.description a:hover {
  color: var(--border-col);
}

.description h4,
p {
  margin-top: 0.5rem;
}
.work:hover .description {
  bottom: 0;
}
.see-more {
  display: block;
  margin: 20px 0;
}
.works button {
  font-size: var(--link-FS);
  padding: 10px 20px;
  width: 200px;
  border: 2px solid var(--border-col);
  background-color: transparent;
  border-radius: 10px;
  transition: all 8ms;
}

.works button:hover {
  border-color: var(--header-color);
  color: #7e74ef;
}

/* form */

form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
fieldset {
  width: 80%;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 10px 3px 5px var(--second-black),
    -10px -3px 5px var(--second-black);
}
.input-grp {
  margin: 20px 5px;
}

input,
textarea {
  display: block;
  margin: 20px auto;
  border: 1px solid #5c5a5a56;
  width: 80%;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  font-size: 1.2rem;
  background-color: #ccdaeb9f;
}

textarea:focus,
input:focus {
  border: 2px solid var(--border-col);
}

textarea {
  height: 150px;
  resize: none;
}
fieldset button {
  display: block;
  margin: 1rem auto;
  padding: 1rem 28px;
  background-color: rgba(87, 215, 87, 0.199);
  border-radius: 10px;
  border: none;
  font-size: var(--link-FS);
  color: var(--border-col);
  font-weight: 600;
}

fieldset button:hover {
  color: var(--white-color);
  background-color: rgba(92, 199, 92, 0.667);
}

#msg {
  color: #61b752;
  margin-top: -10px;
  display: block;
}

@media (min-width: 756px) {
  nav {
    padding: 1.7rem;
  }
  .about-me {
    display: flex;
    flex-flow: row;
    gap: 2rem;
    padding: 1rem;
    overflow: hidden;
    line-height: 2.7;
  }
  .about-me img {
    padding: 0;
  }
  figure {
    width: 30%;
    font-size: var(--normal-FS);
    line-height: normal;
  }
  figcaption {
    white-space: nowrap;
  }
  .moble-view {
    display: none;
  }
  .desktop-links {
    display: flex;
  }
}
@media (min-width: 1080px) {
  .about-me {
    padding: 6rem;
    line-height: 3.5rem;
  }
  .desktop-links {
    gap: 30px;
  }
  .icons {
    flex-flow: row;
    padding: 2rem;
    gap: 8rem;
  }
  .stack-list img {
    width: 200px;
  }

  .work-list {
    flex-flow: row nowrap;
    gap: 10rem;
  }
  .work {
    width: 34%;
    height: 100%;
  }
  form {
    margin: 2rem auto;
    width: 70%;
  }
}

@keyframes Changecolor {
  from {
    background-color: var(--background);
  }
  to {
    background-color: #c3bef7;
    border-radius: 10px;
  }
}

@keyframes slide-show {
  from {
    transform: translateX(20px);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(90px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

footer {
  background-color: var(--header-color);
  text-align: center;
  padding: 0.8rem;
  font-family: var(--header-Font);
  font-size: var(--header-FS);
  color: var(--primary-black);
  font-weight: var(--header-w);
}
